name: akurasipupuk
description: ""

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.1
  
dependencies:
  flutter:
    sdk: flutter
    
  cupertino_icons: ^1.0.8
  sqflite: ^2.4.1
  flutter_bloc: ^9.1.1
  path: ^1.9.0
  logger: ^2.6.2
  uuid: ^4.5.0
  dropdown_search: ^6.0.2
  flutter_svg: 
  firebase_core: ^4.2.1
  firebase_auth: ^6.1.2
  # cloud_firestore: ^6.1.0
  google_sign_in: ^7.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^5.0.0
  
flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/json/master_data_fertilizers.json
    - assets/images/akurasi-pupuk_bg-putih.svg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
